Unquoted "value" rdata for CAA records fail to validate

When attempting to validate a zone with a CAA record in it, presented as (output of perl `Net::DNS` (1.29) `$rr->plain`):
```
nic.earth. 600 IN CAA 0 issue letsencrypt.org
```
`ldns-verify-zone` returns:
```
Syntax error, could not parse the RR's rdata at line 21
```
If the "value" is quoted, this does not occur (output of `dig axfr ...`):
```
nic.earth.		600	IN	CAA	0 issue "letsencrypt.org"
```
According to RFC-8659, section 4.1.1:
```
   Value:  The Value field, expressed as either (1) a contiguous set of
      characters without interior spaces or (2) a quoted string.  See
      the <character-string> format specified in [RFC1035], Section 5.1,
      but note that the Value field contains no length byte and is not
      limited to 255 characters.
```

Tested against 1.8.1 on RHEL9.

A quick review of the ldns (and Net::DNS) changelog didn't suggest this was changed in a more recent release than I'm using.


The syntax of the long string was implemented for RFCs 6844 and 7553. In RFC 8659 the syntax is updated. The text allows unquoted strings. The fix commit updates the code for the long string to follow the updated RFC specification.

Beautiful; many thanks.