RFC 1035 ` [<class>] [<TTL>] <type> <RDATA>` not supported.

RFC 1035 section 5.1 states:

```
<rr> contents take one of the following forms:

    [<TTL>] [<class>] <type> <RDATA>

    [<class>] [<TTL>] <type> <RDATA>
```

But given a zone file where the <class> is given first, ldns-read-zone and ldns-signzone fail to parse it:

```
$ cat /tmp/no_dollar_ttl_no_missing_ttls.zone 
example.com.  1111  IN  SOA   ns.example.com. noc.dns.example.org. 2020080302 7200 3600 1209600 3600
example.com.  2222  IN  NS    example.com.
example.com.  3333  IN  A     192.0.2.1
example.com.  4444  IN  AAAA  2001:db8::3

$ cat /tmp/no_dollar_ttl_no_missing_ttls_swapped_class_ttl.zone 
example.com.  IN  1111  SOA   ns.example.com. noc.dns.example.org. 2020080302 7200 3600 1209600 3600
example.com.  IN  2222  NS    example.com.
example.com.  IN  3333  A     192.0.2.1
example.com.  IN  4444  AAAA  2001:db8::3

$ ldns-read-zone /tmp/no_dollar_ttl_no_missing_ttls.zone 
example.com.    1111    IN      SOA     ns.example.com. noc.dns.example.org. 2020080302 7200 3600 1209600 3600
example.com.    2222    IN      NS      example.com.
example.com.    3333    IN      A       192.0.2.1
example.com.    4444    IN      AAAA    2001:db8::3

$ ldns-read-zone /tmp/no_dollar_ttl_no_missing_ttls_swapped_class_ttl.zone 
Syntax error, could not parse the RR's rdata at line 1
```